<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Annotation Type</h3>
                <p class='text-muted'>Please select annotaion type of your choice.
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Default</li>
                    <li class="list-group-item list-group-item-light">All</li>
                    <li class="list-group-item list-group-item-light">Manual</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</main>