.header-stats {
    background-color: #d3d1d0;
    padding: 4px;
    font: 2em sans-serif;
    margin-bottom: 1em;
}

.header-options {
    background-color: #d3d1d0;
    padding: 4px;
    font: 2em sans-serif;
    margin-bottom: 1em;
    margin-top: 1em;
}

.line{
    line-height: 0.7;
}